<template>
  <v-app>
    <v-main>
      <v-toolbar dark>
        <v-btn icon>
          <v-icon>mdi-account-circle</v-icon>
        </v-btn>
        <v-toolbar-title>{{ username }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon @click="logout()">
          <v-icon>mdi-export</v-icon>
        </v-btn>
      </v-toolbar>
      <br />
      <!------------------------------------------------->
      <v-card class="mx-auto" style="max-width: 500px" v-show="isHideCard">
        <v-form ref="form" v-model="isValid" class="pa-4 pt-6">
          <v-text-field
            ref="title"
            clearable
            v-model="title"
            label="Title"
            variant="outlined"
          >
          </v-text-field>
          <v-textarea
            ref="note"
            v-model="note"
            auto-grow
            clearable
            variant="filled"
            color="deep-purple"
            label="Note"
            rows="1"
          ></v-textarea>
          <v-card-actions>
            <v-checkbox
              v-model="finishCheck"
              v-if="isSubmit == false"
              :label="`Finish`"
              @click="changeCheckBox()"
            ></v-checkbox>
            <v-spacer></v-spacer>
            <v-btn
              :loading="isLoading"
              color="deep-purple-accent-4"
              @click="cancelNote(isSubmit)"
            >
              cancel
            </v-btn>
            <v-btn
              :loading="isLoading"
              color="deep-purple-accent-4"
              @click="submit()"
            >
              {{ isSubmit ? "submit" : "confirm" }}
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
      <!------------------------------------------------->
      <v-row justify="center">
        <v-col
          v-for="(card, index) in paginationCard()"
          :key="index"
          cols="auto"
          style="margin-top: 35px"
          v-show="isHideCard"
        >
          <v-card :style="{ padding: '30px', width: '390px' }">
            <v-card-title style="display: flex; justify-content: space-between">
              <span>{{ card.title }}</span>
              <span
                ><v-btn icon>
                  <v-icon @click="editData(card.title)">mdi-pencil</v-icon>
                </v-btn></span
              >
            </v-card-title>
            <v-card-subtitle class="text-h6 mb-1">{{
              card.note
            }}</v-card-subtitle>
            <v-card-text
              class="text-caption"
              style="display: flex; justify-content: space-between"
            >
              <span>{{ card.displayName }}</span>
              <span>{{ formatTime(card.time) }}</span>
              <v-btn icon style="display: flex; justify-content: center">
                <v-icon @click="deleteNote(card.title)">mdi-trash-can</v-icon>
              </v-btn>
            </v-card-text>
            <v-card-subtitle @click="historyCard(card.title)"
              >History</v-card-subtitle
            >
          </v-card>
        </v-col>
      </v-row>
      <!------------------------------------------------->
      <v-card-text
        style="
          padding: 40px;
          height: auto;
          display: flex;
          justify-content: center;
          margin-top: 30px;
        "
        v-show="!isHideCard"
      >
        <v-card>
          <v-icon @click="closeHistory()" style="margin: 15px;">mdi-close</v-icon>
          <v-card-title> History </v-card-title>
          <v-card-text
            class="text-caption"
            v-for="(h, index) in oldHistory"
            :key="index"
          >
            Title: {{ h.title }}, Note: {{ h.note }}, Time:
            {{ h.time.toDate() }}, Finish: {{ h.finish }}
          </v-card-text>
        </v-card>
      </v-card-text>
      <!------------------------------------------------->
      <v-pagination
        v-model="currentPage"
        :length="togglePages"
        style="margin-top: 20px"
        v-show="isHideCard"
        v-if="this.cards.length > 0"
      ></v-pagination>
    </v-main>
  </v-app>
</template>

<script>
import { auth, db, Timestamp } from "@/firebase/init";
import { signOut, onAuthStateChanged } from "firebase/auth";
import router from "../router/index";
import {
  collection,
  addDoc,
  query,
  getDocs,
  where,
  updateDoc,
  doc,
  deleteDoc,
  orderBy,
} from "firebase/firestore";

export default {
  name: "App",

  data() {
    return {
      email: "",
      username: "",
      note: "",
      title: "",
      time: "",
      editNote: "",
      editTitle: "",
      editTime: "",
      idCardEdit: "",
      idCardDelete: "",
      isSubmit: true,
      cards: [],
      editUsers: [],
      isLoading: false,
      isValid: false,
      currentPage: 1,
      cardsPerPage: 2,
      finishCheck: false,
      current: "",
      oldHistory: [],
      idCardHistory: "",
      isHideCard: true,
    };
  },
  created() {
    this.loadUserProfile();
    if (this.$route.path !== '/note') {
    this.$router.push('/note');
  }
  },
  methods: {
    async logout() {
      await signOut(auth)
        .then(() => {
          console.log("SignOut Successful");
          router.push({ path: '/' });
        })
        .catch((error) => {
          console.error("SignOut Error: ", error);
          alert(error.message);
        });
    },
    loadUserProfile() {
      onAuthStateChanged(auth, async (user) => {
        if (user) {
          this.username = user.displayName;
          this.email = user.email;
          await this.loadUserNotes();
        }
      });
    },
    async loadUserNotes() {
      const q = query(collection(db, this.email + "saveNote"), orderBy("finish"));
      const querySnap = await getDocs(q);
      querySnap.forEach((doc) => {
        this.cards.push(doc.data());
      });
    },
    async submit() {
      const getNote = this.note;
      const getTitle = this.title;
      if (this.isSubmit == true) {
        if (getNote != "" && getTitle != "") {
          this.note = "";
          this.title = "";
          this.isLoading = true;
          await this.createUser(getNote, getTitle).finally(() => {
            this.isLoading = false;
          });
        } else {
          alert("Please input note propery");
        }
      } else {
        if (getNote != null && getTitle != null) {
          if (
            getTitle != this.originalTitle ||
            getNote != this.originalNote ||
            this.finishCheck != this.originalFinishCheck
          ) {
            await updateDoc(doc(db, this.email + "saveNote", this.idCardEdit), {
              note: getNote,
              title: getTitle,
              finish: this.finishCheck,
            });
            this.note = "";
            this.title = "";
            // location.reload();
            this.$router.go(0);
            this.isSubmit = true;
            await this.createHistory().finally(() => {
              this.isLoading = false;
            });
          } else {
            alert("Please change note before submit");
          }
        } else {
          alert("Please input note propery");
        }
      }
    },
    async cancelNote(x) {
      if (x == true) {
        this.note = "";
        this.title = "";
      } else {
        await updateDoc(doc(db, this.email + "saveNote", this.idCardEdit), {
          note: this.originalNote,
          title: this.originalTitle,
          finish: this.originalFinishCheck,
        });
        this.note = "";
        this.title = "";
        this.finishCheck = false;
        this.isSubmit = true;
        // location.reload();
        this.$router.go(0);
      }
    },
    async createUser(getNote, getTitle) {
      const colRef = collection(db, this.email + "saveNote");
      this.isLoading = false;
      const dataObj = {
        displayName: this.username,
        note: getNote,
        title: getTitle,
        time: Timestamp.now(),
        finish: this.finishCheck,
      };
      await addDoc(colRef, dataObj)
        .then((docRef) => {
          console.log("Add success", docRef);
          // location.reload();
          this.$router.go(0);
        })
        .catch((error) => {
          console.error("Error adding document: ", error);
        });
    },
    async editData(x) {
      this.editUsers = [];
      const q = query(
        collection(db, this.email + "saveNote"),
        where("title", "==", x)
      );
      const querySnap = await getDocs(q);
      querySnap.forEach((doc) => {
        this.idCardEdit = doc.id;
        this.isSubmit = false;
        this.editUsers.push(doc.data());
        this.originalNote = this.editUsers[0].note;
        this.originalTitle = this.editUsers[0].title;
        this.originalFinishCheck = this.editUsers[0].finish;
        this.isSubmit ? "" : (this.title = this.editUsers[0].title);
        this.isSubmit ? "" : (this.note = this.editUsers[0].note);
        this.isSubmit ? "" : (this.finishCheck = this.editUsers[0].finish);
      });
    },
    async deleteNote(x) {
      const s = query(
        collection(db, this.email + "saveNote"),
        where("title", "==", x)
      );
      const querySnap = await getDocs(s);
      querySnap.forEach((doc) => {
        this.idCardDelete = doc.id;
      });
      await deleteDoc(doc(db, this.email + "saveNote", this.idCardDelete));
      // location.reload();
      this.$router.go(0);
    },
    paginationCard() {
      const firstPage = (this.currentPage - 1) * this.cardsPerPage;
      const lastPage = firstPage + this.cardsPerPage;
      return this.cards.slice(firstPage, lastPage);
    },
    formatTime(time) {
      const k = time.toDate();
      return k.toDateString();
    },
    changeCheckBox() {
      this.finishCheck ? false : true;
    },
    async createHistory() {
      const colRef = collection(db, this.email + "historyNote");
      this.isLoading = false;
      const dataObj = {
        displayName: this.username,
        note: this.originalNote,
        title: this.originalTitle,
        time: Timestamp.now(),
        oldID: this.idCardEdit,
        finish: this.originalFinishCheck,
      };
      await addDoc(colRef, dataObj)
        .then((docRef) => {
          console.log("Add success", docRef);
          // location.reload();
          this.$router.go(0);
        })
        .catch((error) => {
          console.error("Error adding document: ", error);
        });
    },
    async historyCard(q) {
      this.isHideCard = false;
      const w = query(
        collection(db, this.email + "saveNote"),
        where("title", "==", q)
      );
      const querySnap1 = await getDocs(w);
      querySnap1.forEach((doc) => {
        this.idCardHistory = doc.id;
      });
      const s = query(
        collection(db, this.email + "historyNote"),
        where("oldID", "==", this.idCardHistory)
      );
      const querySnap = await getDocs(s);
      querySnap.forEach((doc) => {
        this.oldHistory.push(doc.data());
      });
    },
    closeHistory() {
      this.oldHistory = [];
      this.isHideCard = true;
    },
  },
  computed: {
    togglePages() {
      return Math.ceil(this.cards.length / this.cardsPerPage);
    },
  },
};
</script>
